.footer {
  padding: 45px 0;
  background: #302e3f;
  &__container {
  }

  &__title {
    color: #ffffff;
    display: flex;
    align-items: center;
    column-gap: 18px;
    margin-bottom: 40px;
    &::before {
      content: '';
      flex: 0 0 50px;
      height: 50px;
      background: url('../img/a.png') center/cover no-repeat;
    }
    transform: translateX(-100%);
    transition: transform 0.4s ease 0s, opacity 0.4s ease 0s;
    opacity: 0;
    &._animate {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__image-acca {
  }
  @media (max-width: $max-md + px) {
    &__row {
      row-gap: 60px;
    }
  }
  @media (max-width: $max-sm + px) {
    &__row {
      row-gap: 40px;
      margin-bottom: 35px;
    }
  }
  @media (max-width: $max-xs + px) {
    &__row {
      row-gap: 10px;
    }
    flex: 0 0 50%;
  }
}
.footer-column {
  flex: 0 0 20%;
  &__title {
    padding: 4px 0;
    margin-bottom: 4px;
  }

  @media (max-width: $max-md + px) {
    flex: 0 0 25%;
  }
  @media (max-width: $max-sm + px) {
    flex: 0 0 50%;
  }
  @media (max-width: $max-xs + px) {
    flex: 0 0 100%;
    &__item {
      padding: 6px 0;
    }
  }
}
.accordion {
  &__toggler {
    @media (max-width: $max-xs + px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &::after {
        transition: transform 0.2s ease;
        display: block;
        content: url('../img/arrow.svg');
        width: 30px;
        height: 30px;
        transform: rotate(-90deg);
      }
    }
  }

  &__content {
    @media (max-width: $max-xs + px) {
      max-height: 0;
      overflow: hidden;
      transition: 0.2s ease;
    }
  }
  &._opened {
    @media (max-width: $max-xs + px) {
      .accordion__toggler::after {
        transform: rotate(0deg);
      }
    }
  }
}
.footer-text-box {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 27px;
}

.footer-link {
  display: inline-block;
  padding: 0.25em 0;
  font-size: 16px;
  line-height: 100%;
  color: $light-link-color;
  text-decoration: none;
  transition: 0.05s ease;
  word-break: break-word;
  @media (any-hover: hover) {
    &:hover {
      color: $link-color;
    }
  }
}
