.growth {
  background: #fdeced;
  padding: 88px 0 72px;
  @media (max-width: $max-lg + px) {
    padding: 60px 0;
  }
  @media (max-width: $max-md + px) {
    padding: 40px 0;
  }
  &__container {
  }

  &__title {
    transform: translateX(-20%);
    opacity: 0;
    transition: transform 0.4s ease 0.2s, opacity 0.4s ease 0.2s;
    &._animate {
      opacity: 1;
      transform: translateY(0);
    }
    margin-bottom: 82px;
    @media (max-width: $max-lg + px) {
      margin-bottom: 60px;
    }
    @media (max-width: $max-md + px) {
      margin-bottom: 0px;
    }
  }

  &__row {
  }
}
.growth-column {
  &__img-wrapper {
    max-width: 309px;
    overflow: hidden;
  }
  &__img {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.4s ease 0.2s, opacity 0.4s ease 0.2s;
    @media (min-width: $min-md + px) {
      &_1 {
        transition: transform 0.4s ease 0.2s, opacity 0.4s ease 0.2s;
      }
      &_2 {
        transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.2s;
      }
      &_3 {
        transition: transform 0.4s ease 0.6s, opacity 0.4s ease 0.2s;
      }
    }
    &._animate {
      transform: translateX(0);
      opacity: 1;
    }
  }
  &__title {
    margin-bottom: 5px;
  }

  &__text {
    @media (min-width: $min-md + px) {
      max-width: 304px;
    }
  }
}
