.brands {
  background-color: #0f0f0f;
  padding: 60px 0px 80px 0px;
  @media (max-width: $md3 + px) {
    padding: 50px 0px 65px 0px;
  }
  @media (max-width: $md4 + px) {
    padding: 40px 0px 40px 0px;
  }
  &__title {
    text-align: center;
    margin: 0px 0px 40px 0px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    column-gap: 30px;
  }

  &__img {
    flex: 0 1 255px;
  }
  .white-line {
    margin-bottom: 40px;
  }
}
.container {
}
.title {
}
.white-line {
}
